* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 393px;
}

#header {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  margin: 0;
  z-index: 999;
  --s: 29px;
  /* control the size */
  --b: 3;
  /* control the thickness*/
  --g:#0000 calc(100% - var(--s)/var(--b) - 1px),
  #b1eb7a
  /* 1st color*/
  calc(100% - var(--s)/var(--b)) calc(100% - 1px),
  #0000;
  --r:calc(2.414*var(--s));
  --p:calc(1.414*var(--s));
  background: radial-gradient(var(--r) at 0 0, var(--g)) var(--r) var(--r), radial-gradient(var(--s) at 0 0, var(--g)) var(--p) var(--p), radial-gradient(var(--r) at 0 100%, var(--g)) 0 var(--p), radial-gradient(var(--s) at 0 100%, var(--g)) calc(-1 * var(--s)) var(--r), radial-gradient(var(--r) at 100% 0, var(--g)) var(--p) 0, radial-gradient(var(--s) at 100% 0, var(--g)) var(--r) calc(-1 * var(--s)), radial-gradient(var(--r) at 100% 100%, var(--g)) calc(-1 * var(--s)) calc(-1 * var(--s)), radial-gradient(var(--s) at 100% 100%, var(--g)) #ebb06e;
  background-size: calc(2 * var(--r)) calc(2 * var(--r));
}
#header a {
  text-decoration: none;
  width: 393px;
  color: black;
  font-weight: 600;
  text-align: center;
  width: 353px;
  font-size: 45px;
  margin: 0;
}

.btn {
  width: 84%;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px #ebb06e solid;
  background-color: #b1eb7a;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
.btn:hover {
  background-color: #ebb06e;
}

section {
  --s: 37px;
  /* control the size */
  --c: #0000, #87ceeb .5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2), var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73 * var(--s)) #6ec7eb;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

#title-section {
  background-image: url("/splash-bg.ba3874c2.jpg");
  height: 808px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}
#title-section h1 {
  text-align: center;
  width: 353px;
  font-size: 45px;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
}

#credits-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 808px;
}
#credits-section .section-title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  padding-top: 120px;
  padding-bottom: 20px;
}
#credits-section h3 {
  text-align: center;
  margin-top: 150px;
  font-size: 35px;
  width: 350px;
  margin-left: 20px;
}
#credits-section h4 {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}
#credits-section .btn {
  margin-left: 30px;
  margin-top: 200px;
}

#start-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 808px;
}
#start-section button:first-child, #start-section button:last-child {
  color: black;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
#start-section button {
  position: relative;
  top: 35%;
  left: 9%;
}

#dream-list-section {
  height: 808px;
  flex-direction: column;
  align-items: center;
}
#dream-list-section .section-title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  padding-top: 120px;
  padding-bottom: 20px;
}
#dream-list-section .list-container {
  height: 450px;
  margin-left: 35px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  width: 320px;
}
#dream-list-section .list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#dream-list-section .list-container ul li {
  padding: 10px;
  border-bottom: 3px solid #e29deb;
  text-align: center;
  justify-content: center;
  width: 300px;
  list-style: none;
  border-radius: 8px;
  background-color: #6ec7eb;
}
#dream-list-section .list-container ul li:hover {
  background-color: #e29deb;
}
#dream-list-section .list-container ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
#dream-list-section button {
  position: relative;
  bottom: 20px;
  top: 20px;
  margin-left: 30px;
}

#record-dream-section {
  height: 808px;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
}
#record-dream-section .section-title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 120px;
}
#record-dream-section form {
  margin-top: 50px;
  margin-left: 30px;
  width: 330px;
}
#record-dream-section form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  width: 300px;
}
#record-dream-section form input[type=date],
#record-dream-section form input[type=text],
#record-dream-section form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
}
#record-dream-section form input[type=date] {
  display: inline-block;
  margin-right: 10px;
}
#record-dream-section form input[type=text] {
  display: inline-block;
}
#record-dream-section form textarea {
  height: 150px;
}
#record-dream-section form .btn {
  display: inline-block;
  padding: 20px 20px;
  background-color: #b1eb7a;
  border: 1px solid #ebb06e;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 28px;
  margin-top: 10px;
}
#record-dream-section form .btn:hover {
  background-color: #ebb06e;
}
#record-dream-section form #saveDreamBtn {
  margin: 0;
  margin-top: 15px;
  width: 330px;
}

#saved-dream-section {
  height: 808px;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#saved-dream-section .section-title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 120px;
}
#saved-dream-section .btn {
  display: inline-block;
  padding: 20px 20px;
  background-color: #b1eb7a;
  border: 1px solid #ebb06e;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 90px;
}
#saved-dream-section .btn:hover {
  background-color: #ebb06e;
}

#dream-details-section {
  height: 808px;
  flex-direction: column;
  align-items: center;
}
#dream-details-section .section-title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 120px;
  padding-bottom: 30px;
}
#dream-details-section .details-dream-container {
  background-color: #87ceeb;
  padding-top: 50px;
  width: 330px;
  height: 300px;
  margin-left: 30px;
  overflow-x: auto;
  overflow-y: auto;
}
#dream-details-section .details-dream-container p {
  padding-top: 10px;
  padding-bottom: 5px;
  max-width: 300px;
  justify-content: center;
  font-size: 20px;
}
#dream-details-section .btns-container {
  margin-top: 20px;
  max-height: 250px;
  padding-left: 30px;
}

#backToStartBtn {
  margin-top: 20px;
  margin-left: 30px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */