$color-fondo-app: #87ceeb;
$color-bordes: #ebb06e;
$color-botones: #b1eb7a;
$color-extra-1: #6ec7eb;
$color-extra-2: #e29deb;
$max-width: 373px;
$max-height: 808px;
$splash-title-width: 332px;
$splash-title-bg-color: rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: $max-width;
    border: 1px solid black;
    /*ELMINAR Y CORREGIR LO DEMÁS*/
}

#header {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    margin: 0;
    z-index: 999;

    a {
        text-decoration: none;
        width: $max-width;
        color: black;
        font-weight: 600;
        text-align: center;
        width: $splash-title-width;
        font-size: 45px;
        margin: 0;
        // background-color: $color-bordes;
    }

    --s: 29px;
    /* control the size */
    --b: 3;
    /* control the thickness*/

    --g:#0000 calc(100% - var(--s)/var(--b) - 1px),
    #b1eb7a
    /* 1st color*/
    calc(100% - var(--s)/var(--b)) calc(100% - 1px),
    #0000;
    --r:calc(2.414*var(--s));
    --p:calc(1.414*var(--s));
    background: radial-gradient(var(--r) at 0 0, var(--g)) var(--r) var(--r),
    radial-gradient(var(--s) at 0 0, var(--g)) var(--p) var(--p),
    radial-gradient(var(--r) at 0 100%, var(--g)) 0 var(--p),
    radial-gradient(var(--s) at 0 100%, var(--g)) calc(-1*var(--s)) var(--r),
    radial-gradient(var(--r) at 100% 0, var(--g)) var(--p) 0,
    radial-gradient(var(--s) at 100% 0, var(--g)) var(--r) calc(-1*var(--s)),
    radial-gradient(var(--r) at 100% 100%, var(--g)) calc(-1*var(--s)) calc(-1*var(--s)),
    radial-gradient(var(--s) at 100% 100%, var(--g)) #ebb06e
    /* 2nd color */
    ;
    background-size: calc(2*var(--r)) calc(2*var(--r));

}

.btn {
    width: 80%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 1px $color-bordes solid;
    background-color: $color-botones;
    cursor: pointer;
    font-size: 20px;
    text-align: center;

    &:hover {
        background-color: $color-bordes;
    }
}

section {
    --s: 37px;
    /* control the size */

    --c: #0000, #87ceeb .5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
    background:
        var(--g1), var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2), var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0, var(--g3) 0 calc(1.73*var(--s)) $color-extra-1;
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
    // background-color: $color-fondo-app;
}

#title-section {
    background-image: url("../assets/splash-bg.jpg");
    /* Imagen generaca on IA (Leonardo AI)*/
    height: 808px;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;

    h1 {
        text-align: center;
        width: $splash-title-width;
        font-size: 45px;
        margin: 0;
        padding: 20px;
        background-color: $splash-title-bg-color;
        position: relative;
        top: 50%;
    }
}

#start-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $max-height;
    margin-top: 0px;

    button {

        &:first-child,
        &:last-child {
            color: black;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: 10px center;
        }
    }

    // Centrar verticalmente
    button {
        position: relative;
        top: 35%;
        left: 9%;
    }
}


#dream-list-section {
    height: $max-height;
    margin-top: 0px;
    // display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
        text-align: center;
        justify-content: center;
        margin-top: 120px;
        font-size: 30px;
    }

    .list-container {
        max-height: 450px;
        margin-top: 25px;
        margin-left: 30px;
        /* Tamaño máximo del div que contiene la lista */
        overflow-y: auto;
        overflow-x: hidden;
        /* Aparecerá una barra de desplazamiento vertical si la lista es más grande que el div */
        border: 1px solid #ccc;
        margin-bottom: 10px;
        // border: 2px solid $color-extra-1;
        width: 300px;
        border-bottom: 2px solid black;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                // width: 250px;
                // margin-bottom: 10px;
                padding: 10px;
                border-bottom: 3px solid $color-extra-2;

                &:hover {
                    background-color: $color-extra-1;
                }
            }

        }
    }

    // Centrar verticalmente
    button {
        position: relative;
        bottom: 20px;
        top: 20px;
        margin-left: 30px;
    }
}

#record-dream-section {
    height: $max-height;
    margin-top: 0px;
    // display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
        text-align: center;
        justify-content: center;
        margin-top: 120px;
        font-size: 30px;
    }

    form {
        margin-top: 50px;
        margin-left: 30px;
        width: 300px;


        label {
            display: block;
            margin-bottom: 5px;
            font-size: 20px;
            width: 300px;
        }

        input[type="date"],
        input[type="text"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 14px;
        }

        input[type="date"] {
            display: inline-block;
            margin-right: 10px;
        }

        input[type="text"] {
            display: inline-block;
        }

        textarea {
            height: 150px;
        }

        .btn {
            display: inline-block;
            padding: 20px 20px;
            background-color: $color-botones;
            border: 1px solid $color-bordes;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            margin-left: 28px;
            margin-top: 10px;

            &:hover {
                background-color: $color-bordes;
            }
        }
    }
}

#backToStartBtn {
    margin-top: 20px;
    margin-left: 30px;
}






.hidden {
    display: none;
}