$color-fondo-app: #87ceeb;
$color-bordes: #ebb06e;
$color-botones: #b1eb7a;
$color-extra-1: #6ec7eb;
$color-extra-2: #e29deb;
$max-width: 373px;
$max-height: 715px;
$splash-title-width: 332px;
$splash-title-bg-color: rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: $max-width;
    border: 1px solid black;
    /*ELMINAR*/
}

.hidden {
    display: none;
}

#header {
    text-align: center;
    justify-content: center;
    background-color: $color-bordes;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;

    a {
        text-decoration: none;
        width: $max-width;
        color: white;
        text-align: center;
        width: $splash-title-width;
        font-size: 45px;
        margin: 0;
        background-color: $color-bordes;
    }
}

.btn {
    width: 80%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 1px $color-bordes solid;
    background-color: $color-botones;
    cursor: pointer;
    font-size: 20px;
    text-align: center;

    &:hover {
        background-color: $color-bordes;
    }
}

section {
    background-color: $color-fondo-app;
}

#title-section {
    background-image: url("../assets/splash-bg.jpg");
    /* Imagen generaca on IA (Leonardo AI)*/
    height: 808px;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;

    h1 {
        text-align: center;
        width: $splash-title-width;
        font-size: 45px;
        margin: 0;
        padding: 20px;
        background-color: $splash-title-bg-color;
        position: relative;
        top: 50%;
    }
}

#start-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $max-height;
    margin-top: 93px;

    button {
        // width: 80%;
        // padding: 20px;
        // margin-bottom: 50px;
        // border-radius: 8px;
        // border: 1px $color-bordes solid;
        // background-color: $color-botones;
        // cursor: pointer;
        // font-size: 20px;
        // text-align: center;

        &:first-child,
        &:last-child {
            color: black;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: 10px center;
        }
    }

    // Centrar verticalmente
    button {
        position: relative;
        top: 35%;
        left: 9%;
    }
}


#dream-list-section {
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: $max-height;
    // margin-top: 93px;
    // display: flex;
    margin-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-container {
        max-height: 600px;
        margin-top: 25px;
        /* Tama침o m치ximo del div que contiene la lista */
        overflow-y: auto;
        overflow-x: hidden;
        /* Aparecer치 una barra de desplazamiento vertical si la lista es m치s grande que el div */
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border: 2px solid $color-bordes;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                // width: 250px;
                // margin-bottom: 10px;
                padding: 5px;
                border-bottom: 1px solid #ccc;
            }

        }
    }

    // Centrar verticalmente
    button {
        position: relative;
        bottom: 20px;
        top: 20px;
    }
}